@mixin light_text {
    letter-spacing: 8px;
    text-shadow: 0 0 10px #7ed4d4;
    color: white;
}

header {
  margin: 0 auto;
  padding: 24px;
  .container {
    background-image: url(../Images/moon.svg);
    h1 {
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 160px;
      color: turquoise;
      span:first-child {
        font-size: 128px;
        @include light_text;
      }
    }
  }
}
.intro {
  text-align: center;
  max-width: 850px;
  margin: 0 auto;
  padding: 40px 0 80px;
  line-height: 32px;
  p {
    padding: 8px;
  }
}